option_settings:
  aws:autoscaling:launchconfiguration:
    ImageId: ami-0c55b159cbfafe1f0
    InstanceType: t2.micro
    SecurityGroups: default
    RootVolumeSize: 10

  aws:ec2:instances:
    InstanceTypes: t2.micro

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
    DesiredCapacity: 1

  aws:elasticbeanstalk:container:tomcat:jvm:
    Xms: 512m
    Xmx: 512m
    XX: 'UseG1GC,MaxGCPauseMillis=100,-XX:+HeapDumpOnOutOfMemoryError,-XX:HeapDumpPath=/var/log/heap_dump.hprof'

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
    GzipCompression: true

  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

